@import url(../fonts/fonts.css);

.main-page-slider {
    margin-top: 75px;
}

.main-page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-page-top {
    height: 620px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: row;
}

.request-container {
    display: flex;
    flex-direction: column;
}

.big-text{
    font-family: Ferry;
    font-weight: 900;
    font-size: 60px;
}

.small-text {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Inter;
}

.request-btn-container{
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.request-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 60px;
    border-radius: 5px;
    color: white;
    font-size: 25px;
    background-color: rgb(106, 106, 255);
}

.img-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.scnd-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.tariffs-cont {
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 80px;
}

.tariffs {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tariff {
    width: 415px;
    height: 540px;  
    border-radius: 10px;
}

.tariff:nth-child(1) {
    border: 3px solid #FFB64F;
}

.tariff:nth-child(2) {
    border: 3px solid #7CE3E1;
}

.tariff:nth-child(3) {
    border: 3px solid #000000;
}

.tariff-header {
    background-color: #FFB64F;
    height: 130px;
}

.tariff:nth-child(1) .tariff-header {
    background-color: #FFB64F;
}

.tariff:nth-child(2) .tariff-header  {
    background-color: #7CE3E1;
}
.tariff:nth-child(3) .tariff-header  {
    background-color: #000000;
}

.tariff-inner {
    background-color: antiquewhite;
}