.swiper {
    width: 1300px;
    height: 300px;
  }

.swiper-slide {
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); 
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    white-space: pre-line;

}

.cont {
    display: flex;
    align-items: center;   
    margin-top: 50px;
}
.swiper-button-prev{
    scale: 0.7;
    color: rgba(0, 0, 0, 0.3);
    position: relative;
    margin-left: 40px;
}

.swiper-button-next{
    scale: 0.7;
    color: rgba(0, 0, 0, 0.3);
    margin-right: 40px;
    position: relative;
}

.swiper-wrapper {
    height: 250px;
}

#one{
    width: 350px;
}

#two {
    width: 300px;
}

#three {
    width: 350px;
}

.slide-image {
    margin-left: 20px;
    margin-bottom: 15px;
}

.slide-text {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 400;
}
